{% extends '_base.html' %}

{% block content %}



{% if is_paginated %}
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if first_page_url %}
    <li class="page-item">
      <a class="page-link" href="{{ first_page_url }}">
        First Page</a>
    </li>
  {% endif %}
  {% if previous_page_url %}
    <li class="page-item">
      <a class="page-link" href="{{ previous_page_url }}">
        Previous</a>
    </li>
  {% endif %}
  <li  class="page-item disabled">
   <a class="page-link">Page {{ page_obj.number }}
    of {{ paginator.num_pages }}</a> 
  </li>
  {% if next_page_url %}
    <li class="page-item">
      <a class="page-link" href="{{ next_page_url }}">
        Next</a>
    </li>
  {% endif %}
  {% if last_page_url %}
    <li class="page-item">
      <a class="page-link" href="{{ last_page_url }}">
        Last Page</a>
    </li>
  {% endif %}
</ul>
{% endif %}
</nav>

{% endblock %}