{% extends 'pages/home.html' %} 
{% block header %} {% endblock %}
{% block content %} 
<div class="text-center m-0 p-0">
	<img class="my-0" src="{{ image_path}}" alt="company logo" width="100">
</div>
<hr>
<div>
	<span style="font-size:.8rem"> Date: {{ receipt.date|date:"M d, Y" }}</span><br>
	<span style="font-size:.8rem">Account number: {{ receipt.transaction.account.serial_number }}</span> <br>
	<span style="font-size:.8rem"> Paid by: {{ receipt.transaction.get_payment_display }}</span><br>
	<span style="font-size:.8rem">Previous Balance: {% if receipt.transaction.balance_before < 0 %}-${{ receipt.transaction.balance_before|stringformat:"d"|cut:"-" }} {% else %}${{ receipt.transaction.balance_before }}{% endif %}</span>
</div>
<hr>
<div>
	<table class="table table-borderless">
		<thead>
		  <tr>
			<th scope="col">Service</th>
			<th scope="col">Cost</th>
			<th scope="col">Paid</th>
		  </tr>
		</thead>
		<tbody >
		  <tr class="table-group-divider">
			<td>{{ receipt.transaction.account }}</td>
			<td>${{ receipt.transaction.account.service_fee }}</td>
			<td>${{ receipt.transaction.amount }}</td>
		  </tr>
		  <tr>
			<td colspan="3"></td>
		  </tr>
		  
		</tbody>
		<tfoot>
			<tr class="table-group-divider">
				<td colspan="2" class="text-end">Balance</td>
				<td>{% if receipt.transaction.account.balance < 0 %}-${{ receipt.transaction.account.balance|stringformat:"d"|cut:"-" }} {% else %}${{ receipt.transaction.account.balance }}{% endif %}</td>
			  </tr>
		</tfoot>
	  </table>
	  <div class="text-center">THANK YOU</div>
</div>

{% endblock content %}