{% extends './_base.html' %}
{% load crispy_forms_tags %}

{% block title %} {% endblock %} 

{% block content %} 

<h1><i class="bi bi-cash-coin"></i> Make Payment</h1>
<hr class="h1">
<div class="hstack gap-3">
    <div class="bg-body-tertiary border border-0">Account: <a href="{{ account.get_absolute_url }}">{{ account }}</a></div>
    <div class="bg-body-tertiary border border-0">Owner: <a href="{{ account.owner.get_absolute_url }}">{{ account.owner }}</a></div>
    <div class="bg-body-tertiary border border-0">Balance: {% if account.balance < 0 %}<span class="bg-warning">-${{ account.balance|stringformat:"d"|cut:"-" }}</span> {% else %}${% if account.balance > account.service_fee %}<span class="bg-danger text-light">${{ account.balance }}</span>{% else %} <span class="text-success">${{ account.balance }}</span>{% endif %}{% endif %}</div>
  </div>
<hr class="h1">
{{ form.errors }}
<div class="col my-5">
    {% crispy form %}
</div>
{% endblock %}