{% extends 'pages/home.html' %} 
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Log In {% endblock %}

{% block header %} {% endblock %}

{% block content %}  
<div class="col-lg-5 mx-auto mt-5">
<main class="form-signin w-100 m-auto">
  <div class="col-md-3 mx-auto"> <img class="m-auto" src="{% static 'images/logo.jpeg' %}" alt="" width="100" height="100"></div>
<form method="post">
  {% csrf_token %}
  {{ form.non_field_errors }}
  <div class="form-group mb-2">
      
      
      {{ form.login|as_crispy_field }}
      {{ form.login.errors }}

  </div>
  <div class="form-group mb-2">
     
      
      {{ form.password|as_crispy_field }}
      {{ form.password.errors }}
  </div>
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted">&copy; MetroCordCuts</p>
</form>
</main>
</div>


{% endblock %}

{% block footer %} {% endblock %}