{% extends '_base.html' %}
{% load static %}

{% block title %}Home page{% endblock title %}

{% block content %}

<h1 class="mt-4"><i class="bi bi-speedometer2"></i> Dashboard</h1>
<hr class="h1">
<div class="row mt-5">
    <div class="card col-sm-4 text-center py-1 border border-light">
      <p class="h3"><i class="bi bi-wallet2 h1"></i><br>
        <a href="{% url 'accts:search' %}" class="stretched-link"></a>Make Payment</p>
    </div>
    <div class="card col-sm-4 text-center py-1 border border-light">
      <p class="h3"><i class="bi bi-people-fill h1"></i><br>
        <a href="{% url 'accts:list' %}" class="stretched-link"></a>Accounts</p>
    </div>
    <div class="card col-sm-4 text-center py-1 order border-light">
      <p class="h3"><i class="bi bi-calculator h1"></i><br>
        <a href="{% url 'transactions:list' %}" class="stretched-link"></a>Transactions</p>
    </div>
   
</div>
<div class="row mt-5">
  <div class="card col-sm-4 text-center py-1 border border-light">
    <p class="h3"><i class="bi bi-people h1"></i><br>
      <a href="{% url 'clients:list' %}" class="stretched-link"></a>Clients</p>
  </div>
  <div class="card col-sm-4 text-center py-1 border border-light">
    <p class="h3"><i class="bi bi-receipt h1"></i><br>
      <a href="" class="stretched-link"></a>Billing</p>
  </div>
 
</div>
{% endblock content %}
