{% extends "_base.html" %}

{% block content %}
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Search</h5>
        </div>
        <div class="card-body">
          <form method="get" action="{% url 'search' %}">
            <div class="mb-3">
              <label for="query" class="form-label">Search:</label>
             <input id="search" name="q" type="text" autocomplete="off" class="form-control border border-dark border-2  border-0 border-bottom " placeholder="Enter client name, account name, or number" aria-label="Search" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary border border-dark border-2  border-0 border-bottom" type="submit" id="button-addon2"><i class="bi bi-search h3"></i></button>
            </div>
          </form>
          {% if clients or accounts %}
          <hr>
           <div class="table-responsive">
                    <table class="table table-hover table-striped align-middle">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Account</th>
                          <th scope="col">Owner</th>
                          <th scope="col">Balance</th>
                          <th scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% if accounts %}

                        {% for account in accounts %}
                        <tr>
                          <td>{{ forloop.counter }}</td>
                          <td>{{account }} - {{ account.serial_number }}</td>
                          <td>{{ account.owner }}</td>
                          <td>{{account.balance }}</td>
                          <td><a href="{% url 'transactions:create' %}?q={{ account.id }}" class="btn btn-sm btn-outline-primary">Make a Payment</a></td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
