{% extends './_base.html' %}
{% load crispy_forms_tags %}

{% block title %} Add New Client {% endblock %}

{% block content %}

<h1 class="text-center mb-5">Create New Client</h1>
<div class="col-lg-6 mx-auto">
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}

        <div class="d-flex justify-content-center my-5">
            <button type="submit" class="btn btn-success me-3">
                <i class="bi bi-plus-lg me-2"></i>Add New Client
            </button>
            <button type="button" class="btn btn-outline-secondary" onclick="history.back()">
                <i class="bi bi-x-lg me-2"></i>Cancel
            </button>
        </div>
    </form>
</div>

{% endblock %}
