{% extends './_base.html' %}

{% block title %} Client List {% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-center">
  <h1 class="h2">Our Clients</h1>
  <a href="{% url 'clients:create' %}" class="btn btn-primary">Add Client</a>
</div>
<hr class="h1">

<div class="container-fluid">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
    {% for client in clients %}
    <div class="col">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title"><a href="{{ client.get_absolute_url }}" class="text-decoration-none">{{ client }}</a></h5>
          <p class="card-text">{{ client.address }}</p>
          <p class="card-text">{{ client.email }}</p>
        </div>
      </div>
    </div>
    {% empty %}
    <div class="col">
      <div class="card shadow-sm">
        <div class="card-body">
          <p class="card-text">No clients exist in the database. Click <a href="{% url 'clients:create' %}">here</a> to add a new client.</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{{ block.super }}
{% endblock %}
