{% extends './_base.html' %} 
{% load crispy_forms_tags %}

{% block title %} Update {{ client }}{% endblock %}  


{% block content %}  
<h1>Update <small>{{client}}</small></h1>
        <hr class="h1">
<div class="col-lg-6 mx-auto">
    <form method="post">
        {% csrf_token %} 
        {{ form|crispy }}
        <br>
        <div class="hstack gap-2 col mx-auto">
            <button type="submit" class="btn btn-success">Save Changes</button>
            <button type="button" class="btn btn-outline-secondary" onclick="history.back()">Cancel</button>
        </div>
    </form>
</div>

{% endblock %}